<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.utron.yw.dao.ConfigItemMapper" >
  <resultMap id="BaseResultMap" type="com.utron.yw.model.ConfigItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="leaf" property="leaf" jdbcType="BIT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="measure" property="measure" jdbcType="VARCHAR" />
    <result column="min" property="min" jdbcType="INTEGER" />
    <result column="max" property="max" jdbcType="INTEGER" />
    <result column="interval" property="interval" jdbcType="INTEGER" />
    <result column="hd_partition" property="hdPartition" jdbcType="BIT" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="flag" property="flag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, parent_id, level, path, leaf, name, key, measure, min, max, interval, hd_partition, 
    description, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.utron.yw.model.ConfigItem" >
    insert into t_item (id, parent_id, level, 
      path, leaf, name, key, 
      measure, min, max, 
      interval, hd_partition, description, 
      flag)
    values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR}, #{leaf,jdbcType=BIT}, #{name,jdbcType=VARCHAR}, #{key,jdbcType=VARCHAR}, 
      #{measure,jdbcType=VARCHAR}, #{min,jdbcType=INTEGER}, #{max,jdbcType=INTEGER}, 
      #{interval,jdbcType=INTEGER}, #{hdPartition,jdbcType=BIT}, #{description,jdbcType=VARCHAR}, 
      #{flag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.utron.yw.model.ConfigItem" >
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="leaf != null" >
        leaf,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="key != null" >
        key,
      </if>
      <if test="measure != null" >
        measure,
      </if>
      <if test="min != null" >
        min,
      </if>
      <if test="max != null" >
        max,
      </if>
      <if test="interval != null" >
        interval,
      </if>
      <if test="hdPartition != null" >
        hd_partition,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        #{leaf,jdbcType=BIT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="measure != null" >
        #{measure,jdbcType=VARCHAR},
      </if>
      <if test="min != null" >
        #{min,jdbcType=INTEGER},
      </if>
      <if test="max != null" >
        #{max,jdbcType=INTEGER},
      </if>
      <if test="interval != null" >
        #{interval,jdbcType=INTEGER},
      </if>
      <if test="hdPartition != null" >
        #{hdPartition,jdbcType=BIT},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.utron.yw.model.ConfigItem" >
    update t_item
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="leaf != null" >
        leaf = #{leaf,jdbcType=BIT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null" >
        key = #{key,jdbcType=VARCHAR},
      </if>
      <if test="measure != null" >
        measure = #{measure,jdbcType=VARCHAR},
      </if>
      <if test="min != null" >
        min = #{min,jdbcType=INTEGER},
      </if>
      <if test="max != null" >
        max = #{max,jdbcType=INTEGER},
      </if>
      <if test="interval != null" >
        interval = #{interval,jdbcType=INTEGER},
      </if>
      <if test="hdPartition != null" >
        hd_partition = #{hdPartition,jdbcType=BIT},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.utron.yw.model.ConfigItem" >
    update t_item
    set parent_id = #{parentId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR},
      leaf = #{leaf,jdbcType=BIT},
      name = #{name,jdbcType=VARCHAR},
      key = #{key,jdbcType=VARCHAR},
      measure = #{measure,jdbcType=VARCHAR},
      min = #{min,jdbcType=INTEGER},
      max = #{max,jdbcType=INTEGER},
      interval = #{interval,jdbcType=INTEGER},
      hd_partition = #{hdPartition,jdbcType=BIT},
      description = #{description,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>